*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --font-size-small: 1rem;
  --font-size-medium: 1.125rem;
  --font-size-large: 1.5;

  /* --mobile-breakpoint: 400px;
  --tablet-breakpoint: 800px;
  --desktop-breakpoint: 1200px;
  --xlarge-breakpoint: 1540px; */
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: 'Roboto', sans-serif;
}

/* skeleton loading */

.skeleton {
  opacity: 0.7;
  animation: skeleton-loading 1s linear infinite alternate;
}

.skeleton-text {
  width: 100%;
  height: 0.5rem;
  margin-bottom: 0.25rem;
  border-radius: 0.125rem;
}

.skeleton-text:last-child {
  margin-bottom: 0rem;
  width: 80%;
}

@keyframes skeleton-loading {
  0% {
    background-color: hsl(200, 20%, 70%);
  }

  100% {
    background-color: hsl(200, 20%, 95%);
  }
}

/* item details */

.selected-item-details {
  display: flex;
  flex-direction: column;
}

.selected-item-img {
  width: 100vw;
  height: 100vw;
}

.selected-item-img img {
  width: inherit;
  height: inherit;
  object-fit: cover;
  object-position: center;
}

.selected-item-desc {
  padding: 1em;
}

.selected-item-desc > * {
  padding-bottom: 0.5rem;
}

.selected-item-desc h1 {
  font-size: 3rem;
  font-weight: 800;
}

#selected-item-size-header {
  padding-bottom: 0.5rem;
}

.selected-item-size {
  padding-bottom: 0.5em;
}

.selected-item-size {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 0.5em;
}

.selected-item-size-choice {
  padding: 10px 8px;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  border: 1px solid grey;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.selected-item-choice-pp {
  font-size: 1.2em;
}

.selected-item-size-choice span {
  font-weight: 700;
}

.add-selected-item-to-cart {

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.5em;
}

.selected-item-quantity {
  width: 100%;
  height: 100%;
}

.selected-item-quantity {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  border: 1px solid grey;
  border-radius: 3px;
  height: 100%;
}

.selected-item-quantity button {
  margin-top: 4px;
  background-color: transparent;
  border: none;
}

.selected-item-quantity div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.selected-item-to-cart-btn {
  cursor: pointer;
  grid-column: 2 / 5;
  padding: 18px 8px;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  background-color: hotpink;
  font-weight: bolder;
  color:  white;
}

@media (min-width: 1200px) {
  .selected-item-details {
    height: calc(100vh - 81px);
    gap: 5em;
    flex-direction: row;
    padding: 3em;
  }

  .selected-item-img {
    width: 35vw;
    height: 100%;
  }
}

/* login */

.login {
  padding-top: 81px;
  box-sizing: border-box;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Cart */

.cart {
  position: fixed;
  top: 0;
  right: 0;
  background-color: white;
  width: 450px;
  height: 100vh; 
  z-index: 1000;
}

/* cart overlay */
.overlayCart {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  z-index: 999;
}

.cart-header {
  display: flex;
  padding: 1em 1em 0.5em 1em;
}

.cart-header h4 {
  padding: 1rem;
}

.selected-cart-items {
  padding: 0em 1em 0em 1em;
  /* padding-top: .5rem; */
  height: 52vh;
  overflow-y: scroll;
}

.close-cart-btn {
  background-color: transparent;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}

.cart-item {
  position: relative;
  height: 130px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 1fr 2fr ;
  padding: 15px;
  gap: 10px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid gray;
  border-radius: 8px;
  margin-bottom: 10px;
}

.cart-item-img {
  height: 100px;
  width: 100px;
}

.cart-item-img img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  object-position: center;
  border-radius: 8px;
}

.cart-item-description {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.remove-cart-item {
  position: absolute;
  top: 15px;
  right: 15px;
}

.remove-cart-item ion-icon {
  font-size: 1.5rem;
}

.selected-item-quantity-cart {
  display: grid;
  grid-template-columns: repeat(3, 30px);
  grid-template-rows: auto;
  border-radius: 3px;
}

.selected-item-quantity-cart button {
  margin-top: 4px;
  background-color: transparent;
  border: none;
}

.selected-item-quantity-cart div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cart-bottom {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  box-shadow: 0 -8px 6px -5px #14141421;
  padding: 20px 40px;
}

.total-order-price {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.total-order-price > * {
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
}

.enter-address-btn {
  margin-top: 1.5em;
}

.cart-bottom .enter-address-btn button {
  background: none;
  border: 1px solid black;
  border-radius: 50px;
  padding: 1em;
  width: 100%;
  text-transform: uppercase;
}

@media (max-width: 500px) {
  .cart {
    width: 100dvw;
    height: 100dvh;
  }
}