.x-container {
  padding-left: 30px;
  padding-right: 30px;
}

@media (max-width: 768px) {
  .x-container {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 480px) {
  .x-container {
    padding-left: 10px;
    padding-right: 10px;
  }
}
