.admin-container {
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 769px) {
  .admin-container {
    padding-left: 30vw; /* Adjust based on your sidebar width */
  }
}

@media screen and (max-width: 768px) {
  /* .admin-container {
    padding: 20px; 
  } */
}