#contact {
  padding-top: 81px;
  display: flex;
  flex-direction: column;
}

.contact-us-details {
  width: 100%;
  background-color: #fff5e9ff;
  padding: 1em;
}

.contact-us-details h3 {
  margin-bottom: 1em;
}

.contact-us-details p {
  font-size: 0.8rem;
  margin: 0.6em 0;
}

.contact-us-details p a {
  color: deeppink;
  text-decoration: none;
  font-weight: 700;
  margin-left: 0.4em;
}

.faq {
  padding: 1em 0.5em;
}

.faq h2 {
  padding-bottom: 2em;
}

.query {
  padding: 1em 0;
}

.faq-section {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

.faq-section h1 {
  padding: 0.2em 0;
}

.query h5 {
  position: relative;
}

.query button {
  position: absolute;
  top: 50%;
  right: 5%;
  transform: translate(-50%, -50%);
  float: right;
  background-color: transparent;
  color: deeppink;
  border: none;
  font-size: 1.8rem;
  font-weight: 700;
}

.query p {
  margin: 3em 0;
}

@media (min-width: 1200px) {
  #contact {
    flex-direction: row-reverse;
  }

  #contact > * {
    width: 50%;
    height: calc(100dvh - 81px);
  }

  .contact-us-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4em 3em;
  }

  .faq {
    padding: 1em 3em;
    overflow-y: scroll;
  }

  .faq::-webkit-scrollbar {
    height: calc(100vh - 81px);
    width: 0.5em;
  }
  
  .faq::-webkit-scrollbar-track {
    margin: 0 2rem;
    background-color: rgba(255, 20, 145, 0.2);
    border-radius: 100vw;
  }
  
  .faq::-webkit-scrollbar-thumb {
    background-color: rgba(255, 20, 145, 0.8);
    border-radius: 100vw;
  }

  .faq-section {
    display: flex;
    flex-direction: column;
    gap: 3em;
  }
}