*, *::before, *::after { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

header {
  background-color: deeppink;
  text-align: center;
  position: fixed;
  z-index: 999;
  width: 100%;
}

.logo {
  margin: 0.5em 0;
}

.nav-toggle-label {
  position: absolute;
  left: 0;
  top: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span { 
  height: 32px; /* font-size and height are depending on each other idk why */
  position: relative;
  font-size: 2rem;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background-color: deeppink;
  width: 100%;
  display: none;
}

nav ul {
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
}

nav a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover {
  color: black;
}

.nav-toggle:checked ~ nav {
  display: block;
}

.nav-toggle {
  display: none;
}
